modules = ["python-3.11"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41890575
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[[ports]]
localPort = 5000
externalPort = 80
